.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #3498db;
  color: white;
}

.logo a {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}

.navLinks {
  list-style: none;
  display: flex;
}

.navLinks li:not(:last-child) {
  margin-right: 1rem;
}

.navLinks a {
  color: white;
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.navLinks a:hover {
  opacity: 0.8;
}

.linkText {
  cursor: pointer;
}

.logoLink:hover {
  cursor: pointer;
}
